* {
  margin: 0;
}

h1 {
  font-size: 70px;
  text-transform: capitalize;
}

.judulCookies{
  color: whitesmoke;
}
.container {
  display: flex;
  text-align: center;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

.judultbl {
  background-color: yellow;
  font-size: 16px;
}

.isitbl {
  font-size: 12px;
}

.paragraf1 {
  color: blue;
}

#content {
  font-weight: bold;
  color: red;
}

header {
  
}


.logo img {
  float: left;
  width: 60px;
  height: auto;
  margin-left: 30px;
  margin-top: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

ul li a:hover {
  background-color: black;
  color: whitesmoke;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: 1px solid lightblue;
  padding: 10px 30px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover {
  background-color: white;
  color: black;
}

.flex-container {
  display: flex;
  font-size: 30px;
  text-align: center;
  flex-direction: column;
  margin: 16px;
}

.flex-containe2 {
  display: flex;
  font-size: 12px;
  text-align: center;
  flex-direction: row;
}

.flex-item {
  background-color: #f0f0f0;
  padding: 15px;
  margin: 10px;
  text-align: center;
  flex: 50%;
}

.cookie{
  width: 100%;
  height: 100%;
}

.judul{
  text-align: left;
  font-weight: bold;
}

.imgUs{
  width: 30%;
  height: 30%;
  float: left;
}

.paragraf{
  margin-left: 40px;
}
#paragraf2{
  text-align: justify;
  
}
